<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <h1>Eventos App </h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Login</label>
                    <input type="text" class="form-control" formControlName="email" id="email">
                    <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
                        <div *ngIf="loginForm.controls.email.errors.required">Ingrese el Login</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Clave:</label>
                    <input type="password" class="form-control" formControlName="password" id="pwd">
                    <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
                        <div *ngIf="loginForm.controls.password.errors.required">Ingrese la clave</div>
                    </div>
                </div>
                <button class="btn btn-primary">Ingresar</button>
                <div *ngIf="invalidLogin" class="error">
                    <div>Invalid credentials.</div>
                </div>
            </form>
        </div>
    </div>
</div>