<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Eventos APP</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Menu Principal</p>
        <li class="nav-item" routerLinkActive="active">
            <a href="#"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-calendar-alt"></i> Eventos</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/ver-evento']">Ver Eventos</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/agregar-evento']">Agregar Evento</a>
                </li>

            </ul>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-users"></i> Asistentes</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/listar-asistente']">Asistentes</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/agregar-asistente']">Agregar Asistente</a>
                </li>



            </ul>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a href="#ingresosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-lock"></i> Control Ingresos</a>
            <ul class="collapse list-unstyled" id="ingresosSubmenu">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/ver-accesos']">Asistentes Anotados</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/ver-ingresados']">Asistentes Ingresados</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/ver-pendientes']">Asistentes Pendientes</a>
                </li>

            </ul>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a href="#asistentesDashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-chart-line"></i> Dashboard</a>
            <ul class="collapse list-unstyled" id="asistentesDashboard">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/asistentes-evento']">Asistentes Estadistica</a>
                </li>


            </ul>
        </li>

    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a (click)="_usuarioService.logout()" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Salir</a>
        </li>

    </ul>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Ocultar/Ver Menu</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user"></i> {{_usuarioService.loginUsr}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>