<div class="row">
    <div class="col-md-8">
        <h4> Asistentes Invitados: <span class="badge badge-warning">{{cantPend}}</span></h4>
        <h4> Asistentes Ingresados: <span class="badge badge-success">{{cantIngr}}</span></h4>
    </div>
    <div class="col-md-4">
        <h2>Faltan: <span class="badge badge-danger">{{cantPend - cantIngr}}</span></h2>

    </div>
</div>

<hr/>


<div style="display: block">
    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>

<hr/>
<br>

<div class="row">

    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="actualizarGrafico()"> Actualizar</button>

</div>